body 
{
	font-family: "Arial Black", Gadget, sans-serif;
	background-color: gray;
	
}

#banner 
{
	background-color: #C0C0C0;
	height: 4.5em;
	text-indent: 1em;
}

h1
{
	margin-bottom: 0px;
	letter-spacing: -.1em;
}

#banner p
{
	font-size: .7em;
	color: gray;
	margin-top: 0px;
	margin-bottom: 0px;
}

a
{
	color: white;
}	

a:hover
{
	color: gray;
}

#menubar
{
	background-color: black;	
	height: 2em;
	
}

#list
{
	margin-top: 0px;
}

li
{
	display: inline;
	margin-right: 2em;
	margin-left: 0px;
	vertical-align: middle;
}

a
{
	text-decoration: none;
}





